In [ ]:
a = 21

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# SHIFT + ENTER
print("Hi")

In [ ]:
a = 14

In [ ]:
a

In [ ]:
a

### This is an H3 Heading

 - bullet
 - second bullet
 - third bullet

In [ ]:
var = np.arange(20).reshape(5, 4)

In [ ]:
var

In [ ]:
var.sum()

In [ ]:
# axis 0 means apply the operation to all the columns
var.sum(axis = 0)

In [ ]:
var.sum(axis = 1)

In [2]:
path = r"C:\Users\Jonat\DAT-02-14\ClassMaterial\Unit1\data\master.csv"

In [ ]:
path

In [28]:
df = pd.read_csv(path, parse_dates = ['visit_date'])

In [ ]:
df['id'].mean()

In [ ]:
df.set_index(['id', 'visit_date'])

In [ ]:
df

In [ ]:
print(r"this is a \nnew line")

In [ ]:
df.columns

In [ ]:
pd.options.settings('max_rows', None)

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(10)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.mean()

In [ ]:
df.mean(numeric_only = True)

In [ ]:
df.mean(numeric_only = True)

In [ ]:
df.sum(numeric_only = True)

In [ ]:
df.info()

In [ ]:
df[['id', 'visitors', 'day_of_week']].mean(numeric_only = True)

In [4]:
df[['visitors', 'reserve_visitors', 'genre']].mean(numeric_only = True)

visitors            20.973761
reserve_visitors    16.699808
dtype: float64

In [8]:
df['visitors'][20:40].mean()

19.75

In [12]:
df.iloc[:, [2, 3, 4, 7]]

        visitors day_of_week  holiday   latitude
0             25   Wednesday        0  35.658068
1             32    Thursday        0  35.658068
2             29      Friday        0  35.658068
3             22    Saturday        0  35.658068
4              6      Monday        0  35.658068
...          ...         ...      ...        ...
252103        49      Friday        0  34.695124
252104        60    Saturday        0  34.695124
252105        69      Sunday        0  34.695124
252106        31      Monday        1  34.695124
252107        26      Sunday        0  34.695124

[252108 rows x 4 columns]

In [15]:
df = df.sort_values(by = 'day_of_week', ascending = False)

In [18]:
df.sort_values(by = 'day_of_week', ascending = True, inplace = True)

In [20]:
df['reserve_visitors'][:10].mean()

17.833333333333332

In [21]:
df['visitors'].mean()

20.973761245180636

In [22]:
df[['visitors', 'holiday']].median()

visitors    17.0
holiday      0.0
dtype: float64

In [23]:
df['visitors'][:5000].min()

1

In [24]:
df.iloc[:, -4:].mode()

                             area   latitude   longitude  reserve_visitors
0  Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813               2.0

In [29]:
df.iloc[:250, :3].mean()

<ipython-input-29-307a21de8119>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.iloc[:250, :3].mean()

visitors    24.912
dtype: float64

In [34]:
df[df['visitors'] > 30]['visitors'].mean()

44.9949567848634

In [37]:
df[df['day_of_week'] == 'Friday']

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
8,air_ba937bf13d40fb24,2016-01-22,18,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
14,air_ba937bf13d40fb24,2016-01-29,26,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
18,air_ba937bf13d40fb24,2016-02-05,45,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
24,air_ba937bf13d40fb24,2016-02-12,26,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,18.0
...,...,...,...,...,...,...,...,...,...,...
252077,air_a17f0778617c76e2,2017-03-24,109,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,21.0
252083,air_a17f0778617c76e2,2017-03-31,51,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2.0
252090,air_a17f0778617c76e2,2017-04-07,46,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,1.0
252096,air_a17f0778617c76e2,2017-04-14,88,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,4.0
252103,air_a17f0778617c76e2,2017-04-21,49,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0

In [39]:
df[df['visitors'].between(10, 30)]

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
7,air_ba937bf13d40fb24,2016-01-21,21,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
8,air_ba937bf13d40fb24,2016-01-22,18,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
252099,air_a17f0778617c76e2,2017-04-17,19,Monday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252100,air_a17f0778617c76e2,2017-04-18,11,Tuesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252101,air_a17f0778617c76e2,2017-04-19,25,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252102,air_a17f0778617c76e2,2017-04-20,22,Thursday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,1.0
252107,air_a17f0778617c76e2,2017-04-09,26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0

In [43]:
df[(df['day_of_week'] == 'Wednesday') & (df['genre'] == 'Dining bar')]

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
12,air_ba937bf13d40fb24,2016-01-27,24,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
16,air_ba937bf13d40fb24,2016-02-03,18,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
22,air_ba937bf13d40fb24,2016-02-10,32,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
249683,air_16c4cfddeb2cf69b,2017-03-29,15,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,4.0
249690,air_16c4cfddeb2cf69b,2017-04-05,6,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249696,air_16c4cfddeb2cf69b,2017-04-12,12,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249703,air_16c4cfddeb2cf69b,2017-04-19,8,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,NaN
249732,air_16c4cfddeb2cf69b,2017-01-04,9,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,10.0

In [46]:
query = (df['day_of_week'] == 'Wednesday') & (df['genre'] == 'Dining bar')

In [47]:
df[query]

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
12,air_ba937bf13d40fb24,2016-01-27,24,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
16,air_ba937bf13d40fb24,2016-02-03,18,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
22,air_ba937bf13d40fb24,2016-02-10,32,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
249683,air_16c4cfddeb2cf69b,2017-03-29,15,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,4.0
249690,air_16c4cfddeb2cf69b,2017-04-05,6,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249696,air_16c4cfddeb2cf69b,2017-04-12,12,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249703,air_16c4cfddeb2cf69b,2017-04-19,8,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,NaN
249732,air_16c4cfddeb2cf69b,2017-01-04,9,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,10.0

In [49]:
df[df['day_of_week'] == 'Monday']['visitors'].min()

1